<!doctype html>
<html lang="en">
  <%- include('../partials/head')%>
  <body>
    
    <%- include('../partials/svg')%>

<div class="container py-3">
  <%- include('../partials/header')%>   
    <div class="container">
      <main class="container">
        <div class="p-4 p-md-5 mb-4 text-dark fs-4 rounded bg-light">
          <div class="col-md-12 px-0">
            <section href="gere"></section>
            <h1 class="display-5 fst-italic text-primary fw-bold" ><strong>Welcome to Wordy</strong></h1>
            <p class="lead my-3 fw-bold"></p>Wordy is a mini blog that is built with NodeJS on top of the express framework. Wordy is a platform Where you can air your thoughts and opinions without <span class="text-danger">FEAR</span >. You can publish post anonymously.<span class="text-success"><strong> Publish it!</strong></span> You can't be shy.</p>
          </div>
        </div>
      
        <div class="mb-2 row">
          <%posts.forEach((post)=>{%>
          <div class="col-md-6">
            <div class="row g-0 border rounded overflow-auto flex-md-row mb-4 shadow-sm h-md-250 position-relative bg-grey opacity-1">
              <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">@ <%=post.author%></strong>
                <h3 class="mb-0"><%= post.title%></h3>
                <div class="mb-1 text-muted"><%=post.date%></div>
                <p class="card-text mb-auto"><%=post.snippet%>...</p>
                <a href="/posts/read/<%= post._id%>" class="stretched-link">Continue reading</a>
              </div>
              
            </div>
          </div>
          <%})%>
        </div>  
              
      </main>
    </div>

  <%- include('../partials/footer')%>
</div>

    
  </body>
</html>