<!doctype html>
<html lang="en">
  <%- include('../partials/head')%>
  <body>
    
 <%- include('../partials/svg')%>

<div class="container py-3">
  <%- include('../partials/header')%>
  <main class="container">
    <div class="p-4 p-md-5 mb-4 text-dark fs-4 rounded bg-light">
      <div class="col-md-12 px-0">
        
        
          <div class="display-4 fst-italic text-primary]" >
            <strong><%= posts.title %></strong>
          </div><br>
          <div class="text-muted text-decoration-none">@<%=posts.author%></div>
        <br>
        <div class="text-muted"><%posts.date%></div>
        <p class="lead mt-50 my-3 fw-bold"></p><%= posts.content %></p>

        <!-- Delete and update section -->
        <% if (aUser == posts.author){%>        
          <div class="d-flex justify-content-between mt-3 md-5">
          <a 
          class="btn btn-lg btn-danger"
          id="delete"
          type="button"
          data-id= "<%= posts._id %>"
          >Delete</a>
          <a href="/posts/update_post/<%=posts._id%>" class="btn btn-lg btn-primary">Update</a>
        </div><br>
        <%}%>


        <!-- Send comment section -->
        <form action="/posts/comment/<%=posts._id%>" method="post" >
        <div class="hstack gap-3 flex-col" >
          <input class="form-control"
            type="text"
            placeholder="What do think about this?"
            id="reply"
            name="reply"
            > 
            <button type="submit" class="btn btn-outline-primary">Send</button>
            
          </div>
        </form>
      </div>
    </div>
  

    <!-- Display comment section -->
    <div class="row mb-2 ">
      <%comments.forEach((comments)=>{%>
      <div class="col-md-12">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative bg-grey opacity-1">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">@<%= comments.commenter %></strong>
            <div class="mb-1 text-muted"><%=comments.date%></div>
            <p class="card-text mb-auto"><%= comments.content %></p>
          </div>
          
        </div>
      </div>
      <%})%>
    </div>  
          
  </main>

  <%- include('../partials/footer')%>
</div>
<script>
const postDelete = document.querySelector('#delete');
const postId = postDelete.dataset.id;
console.log(postId);
postDelete.onclick = async function () {
  const request = await fetch (`/posts/delete_post/${postId}`, {
    method: 'delete',
  });
  const response = await request.json();
  if (response.status == true){
    window.location.href = response.redirect;
  } else {
    alert("Could not delete post")
  }
}
</script>    
  </body>
</html>